@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "OffBit-dot-bold";
    src: url("./font/OffBit-DotBold.ttf") format('truetype')
  }

  @font-face {
    font-family: "OffBit-dot-normal";
    src: url("./font/OffBit-Dot.ttf") format('truetype')
  }